div.error {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/146/148/original/dynamic-wang-cD-_fbY6yww-unsplash.jpg?1727973270");
  background-size: cover;
  height: 100vh;
}

div.hero {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/146/203/original/pexels-iamhogir-17735078_%281%29.jpg?1728026800");
  background-size: cover;
  height: 90vh;
  background-position: center;
}
